@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: var(--font-inter), sans-serif;
}

/* Custom styles */
.prose img {
  border-radius: 0.5rem;
}

.prose h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.prose p {
  margin-bottom: 1em;
}